[Desktop Entry]
Name=ERASE
Comment="Erase content of camera"
Icon=/usr/share/pixmaps/openbox.xpm
Exec=xdg-open "/home/pi/confirm"
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
