[Desktop Entry]
Name=Watch
Comment="Watch what the camera sees"
Icon=/usr/share/pixmaps/openbox.xpm
Exec=sh -c "watch.sh"
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
